<launch>
    <arg name="width" default="1280"/>
    <arg name="height" default="720"/>

    <!-- FROM v4l_imx390_raw.launch -->

    <!-- You can check the device ID and subdev ID for the IMX390 camera attached
    by running /opt/edge_ai_apps/scripts/setup_cameras.sh.
    Accordingly please update the parameters pass as arguments -->
    <arg name="device" default="/dev/video19"/>
    <arg name="subdev" default="/dev/v4l-subdev7"/>
    <!-- framerate (integer): inactive, 30 FPS (default, max) -->
    <!-- Can be enabled by e.g., adding videorate before tiovxdlcolorconvert, but it creases A72 loading -->
    <arg name="framerate" default="30"/>
    <!-- node name -->
    <arg name="node_name" default="gscam_node"/>
    <!-- camera name: also used as namespace for the output topic name -->
    <arg name="camera_name" default="imx390"/>
    <!-- DCC VISS binary file -->
    <arg name="dcc_isp_file" default="/opt/imaging/imx390/dcc_viss.bin"/>
    <!-- DCC 2A binary file -->
    <arg name="dcc_2a_file" default="/opt/imaging/imx390/dcc_2a.bin"/>
    <!-- LDC binary file -->
    <arg name="ldc_dcc_file" default="/opt/imaging/imx390/imx390_35244_equidistant_1280x720_LUT.bin"/>
    <!-- <arg name="ldc_dcc_file" default="/opt/imaging/imx390/robotcam3_equidistant_1280x720_LUT.bin"/>-->
    <!-- camera_info URL: replace with camera_info from camera calibration -->
    <!-- <arg name="camera_info_url" default="package://gscam/config/IMX390_HD_camera_info.yaml"/> -->
    <!-- <arg name="camera_info_url" default="file:///opt/imaging/imx390/imx390_35244_fisheye.yml"/> -->
    <!-- NOTE: Using the rectified intrinsics here due to the tiovxldc being integrated into the gst pipeline -->
    <!--<arg name="camera_info_url" default="file:///opt/imaging/imx390/imx390_35244_equidistant_1280x720_rect.yml"/>-->

    <!-- GStreamer pipeline specified in gscam_config was tested with IMX390 camera,
        'edgeai-tiovx-modules' and 'edgeai-gst-plugins' are assumed to be already installed in TDA4 ROS container.
        Raw resolution is 1936 x 1096 at 30 FPS.
        Note: /dev/v4l-subdev ID can change, depending on the device attached, and at reboot. -->

    <node pkg="d3_inv_viz" type="inventory_viz.py" name="inventory_viz" output="screen">
        <param name="camera_name" value="imx390"/>
        <remap from="/image_raw" to="/imx390/image_rgb"/>
    </node>

</launch>

